@font-face {
  font-family: 'Lobster';
  font-style: normal;
  font-weight: 400;
  src: local('Lobster'), url(/font/font.woff) format('woff');
}


body{padding-top: 60px;padding-bottom: 40px;background:url(/img/light_wool.png);}

pre{font-size:12px;}

.btn-group{float:right;}


.navbar .brand{font-family: "Lobster";position: relative;color:#333;}


#footer {margin-top:20px;padding:10px 0;text-align: center;position: fixed;bottom:0;width:100%;}
#footer {background-color: #f5f5f5;}
#footer .credit{margin:0;}
#footer .credit span{font-family: "Lobster";}



.alert{z-index:10000;display:none;position:fixed;top:41px;padding-right:14px;-moz-border-radius:0;-webkit-border-radius:0;border-radius:0;}


.ver{font-size: 12px;color: #C00;border-radius: 50%;position: absolute;top: 5px;right: 2px;}


.case-search{float:right;margin-top:5px;margin-right:10px;}


.section{background: #f9f9f9;padding: 10px;border-radius: 5px;border: 1px solid #ddd;margin-bottom:10px;}
.info-content{font-size:13px;}

.monitor{font-weight: bold;}

.navbar .nav > li > a:hover{background:#f9f9f9;}


td{background:#fff;}


#search-text{width:100px;}

.dropdown-menu{min-width:100px;width:150px;}

.lists th{background:whiteSmoke;}
.lists td{font-size:13px;}
